<form method="POST" action="/p1">
	<input type="input" name="plyr1_name" placeholder="Player 1 Name">

	<h3> Player 1 Choice </h3>
	<select name="plyr1_choice">
	  <option value="rock">Rock</option>
	  <option value="paper">Paper</option>
	  <option value="scissors">Scissors</option>
	</select>

	<input type="submit">
</form>