<form method="POST" action="/results">
	<input type="input" name="plyr2_name" placeholder="Player 2 Name">

	<h3> Player 2 Choice </h3>
	<select name="plyr2_choice">
	  <option value="rock">Rock</option>
	  <option value="paper">Paper</option>
	  <option value="scissors">Scissors</option>
	</select>

	<input type="hidden" name="plyr1_name" value=<%= @plyr1_name %>>

	<input type="hidden" name="plyr1_choice" value=<%= @plyr2_choice%>>

	<input type="submit">
</form>